.admin-header {
  height: 50px;
  background-color: #131A28;
}

.admin-header a {
  line-height: 50px;
  font-size: 2rem;
  color: white;
}
.admin-header a:hover {
  text-decoration: none;
}

.header-logo {
  font-weight: 600;
  font-size: 20px;
  color: white;
}

.header-gnb * {
  font-size: 14px;
}

.header-gnb button {
  padding: 3px 10px 3px 10px;
  border-radius: 999px;
  background-color: #131a28;
  border: 1px solid white;
  color: white;
}
