@charset "UTF-8";
* { 
    padding: 0px; 
    margin: 0px;
    box-sizing: border-box; 
    text-decoration: none;
}

#customer_wrapper {
    width: 100%; 
    height: auto;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}
#content_title{
   width: 100%; height: 110px;
}

#content_title>h1{
	width: 100%;
    text-align: center;
    border-bottom: 1.5px solid #D5D5D5;
    line-height: 3.5;
    font-weight: bolder;
    font-size: 1.6rem;
    position: absolute;
}

#content_main{
	width:1200px; height: auto;
	margin: 0 auto;
}

.customer_service_center {
    position: absolute;
    transform: translate(-75%,-60%);
    color: #646464;
    font-size: 1.25rem;    
}

.customer_service_center a{
    color: #646464;
}

.inner_wrapper {
    width: 80%; height: 94%;
    margin: 0 auto;
}

#notice {
    width: 100%;
    margin-top: 4%;
}

#faq {
    width: 100%;
}

#one_to_one {
    width: 100%;
}

.inner_contents_text {
    line-height: 150%;
    margin-right: 85%;
    margin-left: 3%;
    text-align: left;
}

.inner_article {
    font-size: 1.8rem;
    font-weight: 600;
    border-bottom: 5px solid #AAAAAA;
    margin-top: 60px;
}

.question_img {
    width: 40px; height: 40px;
}

.faq_table {
    width: 100%; height: 530px;
    line-height: 50px;
    font-size: 1.3rem;
    border-collapse: collapse;    
}

#one_to_one_contents {
    width: 100%; height: auto;
    margin-top: 1.5%;
}

#dropdownMenu2 {
    width: 130px; height: 40px;
    font-size: 0.95rem;
    line-height: 5px;
    border-radius: 15px;
    border: 1.5px solid #707070;
    margin-bottom: 10px;
}

.dropdown-menu {
    width: 50px;
    text-align: center;
    font-size: 1rem;
}

.dropdown-item {
    margin: 5% auto;
}

.dropdown {
    text-align: left;
}

#inquiry_title {
    width: 792px; height: 40px;
    border-radius: 12px;
    border: 1.8px solid #707070;
    margin-left: 2%;
    margin-top: 2px;
    font-size: 1rem;
    padding: 10px;
}

#one_to_one_textarea {
    width: 97%; height: 120px;
    margin-left: 1.4%;
    border-radius: 12px;
    padding: 10px;
}

#one_to_one_submit {
    height: 50px;
    text-align: right;
    padding-right: 2%;
    margin-bottom: 20px;
    line-height: 3.25;
}

#email_send_btn {
    width: 40px;
    cursor: pointer;
}

#email_send_email {
    width: 300px; height: 40px;
    border-radius: 12px;
    background-color: #FFE58D;
    border: 1.5px solid black;
    margin-right: 1%;
    padding: 1%;
    text-align: center;
    font-size: 1.25rem;
}

#email_send_check {
    width: 20px; height: 20px;
    margin-right: 10px;
}

ul li{
    list-style-type: none;
}
ul li a{
    color: black;
}
ul li a:hover{
    text-decoration: none;
    color: black;
}

.fl {
    float: left;
}

.customer_ul {
    width: 100%; height: 50px;
    line-height: 50px;
    font-size: 1.3rem;
    margin-top: 15px;    
}

.w10 {
    width: 10%;
    text-align: left;
}

.w80 {
    width: 80%;
    text-align: left;
    font-weight: 500;  
}

.w12 {
    width: 10%;
}

.faq_ul {
    border-bottom: 2px dashed #707070;
    line-height: 30px;
}

.w90 {
    width: 90%;
    text-align: left;
    font-weight: 500;
    cursor: pointer;
}

.faq_li_contents {
    text-align: left;
    background-color: #FFF6D8;
    border: 0px;
    padding: 60px;
    display: none;
}

.question_list {
    color:#707070;
    font-size: 1.15rem;
}

.answer_list {
    color:#616161;
    font-size: 1.15rem;
    margin-top: 5px;
}

.email_answer_order {
    width: 95%;
    color: #5E5E5E;
    font-size: 1.3rem;
}

.answer_exception {
    color:#616161;
    font-size: 1.2rem;
    margin-top: 3.5%;
}

.answer_exception_text {
    color:#616161;
    font-size: 1.1.5rem;
    text-indent: 2%;
}


.w15 {
    width: 3%; 
    text-align: left;
}

.back_img {
    width: 25px; height: 35px;
}

.w_title {
    font-size: 1.6rem;
    font-weight: 600;
    margin-left: 50px;
}

.w75 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #707070;
    margin-left: 5%;
}

.fr {
    text-align: right;
    font-size: 1.4rem;
    font-weight: 400;
    color: #707070;
}

.w_date {
    margin-right: 4%;
}

#inner_notice_contents {
    width: 100%; height: auto;
    text-align: left;
    font-size: 1.3rem;
    font-weight: 500;
    color: #707070;
}

.login_id {
    padding: 5%;
}

.password_error_text {
    font-size: 1.1rem;
    color: #FF9797;
    margin: 5% auto;
}

.pw_reset {
    margin-top: 20%;
}


#customer_notice_contents {
    width: 100%; height: auto;
    margin-bottom: 200px;
    text-align: left;
    font-size: 1.3rem;
    font-weight: 500;
    color: #707070;
    padding: 5%;
    border-bottom: 5px solid #AAAAAA;
}